@charset "UTF-8";


@media print {
   *{
    font-family: 'Courier New', Courier, monospace;
    color: black;
   }

   body{
    background-image: url(../back-print.jpg);
    border: 3px solid black;
   }
   img#pitone{
    display: none;
}

img#tablete{
    display: none;
}

img#putador{
    display: none;
}

img#sung{
    display: none;
}

img#impress{
    display: block;
}
body::after{
    content: 'Criado por Edwin Machuza';
    font-weight: 700;
}
}

@media all and (min-width:769px) and (max-width:992px) {
    body{
        background-image: url(../back-tablet.jpg);
    }
    img#pitone{
        display: none;
    }
    
    img#tablete{
        display: block;
    }
    
    img#putador{
        display: none;
    }
    
    img#sung{
        display: none;
    }
    
    img#impress{
        display: none;
    }
}

@media screen and (min-width:992px) and (max-width:1200px) {

    body{
        background-image: url(../back-pc.jpg);
    }
    img#pitone{
        display: none;
    }
    
    img#tablete{
        display: none;
    }
    
    img#putador{
        display: block;
    }
    
    img#sung{
        display: none;
    }
    
    img#impress{
        display: none;
    }
}

@media screen and (min-width:1200px){
    body{
        background-image: url(../back-tv.jpg);
    }

    img#sung{
        display: block;
    }

    img#pitone{
        display: none;
    }
}